# pandas - part5 - DataFrameのソート - Training

---

## matplotlib 日本語表示（japanize-matplotlib をインストール）

In [ ]:
!pip install japanize-matplotlib

## rank.csvのダウンロード

In [ ]:
!wget https://gist.githubusercontent.com/murayama333/381407051739c303397ff4fa43ced76b/raw/4f2ffcc6f6d3ef15b8e6ad17df6db18082036af5/rank.csv

In [23]:
import pandas as pd
import japanize_matplotlib

pd.options.display.precision = 3
pd.options.display.float_format = '{:.3f}'.format

rank = pd.read_csv("rank.csv", index_col=["チームID", "背番号"])
rank

          名前   打数   単打  二塁打  三塁打  本塁打  四球  ...  犠飛  四死球   安打    打率   出塁率   長打率   OPS
チームID 背番号                                  ...
1     31   E  492  113   24    4   24  56  ...  22   59  165 0.335 0.391 0.547 0.938
      44   B  552  105   28    4   34  48  ...  26   53  171 0.310 0.355 0.560 0.915
2     10   A  556  115   32    5   30  60  ...  28   63  182 0.327 0.379 0.565 0.943
      44   F  538  133   30    4   18  68  ...  20   71  185 0.344 0.407 0.515 0.922
3     6    B  532   99   34    2   34  52  ...  20   54  169 0.318 0.368 0.581 0.949
      8    G  498  121   29    3   24  52  ...  20   54  177 0.355 0.404 0.570 0.974
4     8    C  499   95   30    3   30  58  ...  18   59  158 0.317 0.377 0.569 0.946
5     31   D  512   75   24    5   42  58  ...  36   62  146 0.285 0.341 0.598 0.939
6     24   E  486  111   38    8   16  44  ...  12   49  173 0.356 0.406 0.566 0.972

[9 rows x 17 columns]

## 5.1 三振の少ないものから順に出力してください。

          名前   打数   単打  二塁打  三塁打  本塁打  四球  ...  犠飛  四死球   安打    打率   出塁率   長打率   OPS
チームID 背番号                                  ...
3     8    G  498  121   29    3   24  52  ...  20   54  177 0.355 0.404 0.570 0.974
6     24   E  486  111   38    8   16  44  ...  12   49  173 0.356 0.406 0.566 0.972
4     8    C  499   95   30    3   30  58  ...  18   59  158 0.317 0.377 0.569 0.946
1     31   E  492  113   24    4   24  56  ...  22   59  165 0.335 0.391 0.547 0.938
3     6    B  532   99   34    2   34  52  ...  20   54  169 0.318 0.368 0.581 0.949
2     44   F  538  133   30    4   18  68  ...  20   71  185 0.344 0.407 0.515 0.922
      10   A  556  115   32    5   30  60  ...  28   63  182 0.327 0.379 0.565 0.943
5     31   D  512   75   24    5   42  58  ...  36   62  146 0.285 0.341 0.598 0.939
1     44   B  552  105   28    4   34  48  ...  26   53  171 0.310 0.355 0.560 0.915

[9 rows x 17 columns]

## 5.2 本塁打の多いものから順に出力してください。

          名前   打数   単打  二塁打  三塁打  本塁打  四球  ...  犠飛  四死球   安打    打率   出塁率   長打率   OPS
チームID 背番号                                  ...
5     31   D  512   75   24    5   42  58  ...  36   62  146 0.285 0.341 0.598 0.939
1     44   B  552  105   28    4   34  48  ...  26   53  171 0.310 0.355 0.560 0.915
3     6    B  532   99   34    2   34  52  ...  20   54  169 0.318 0.368 0.581 0.949
2     10   A  556  115   32    5   30  60  ...  28   63  182 0.327 0.379 0.565 0.943
4     8    C  499   95   30    3   30  58  ...  18   59  158 0.317 0.377 0.569 0.946
1     31   E  492  113   24    4   24  56  ...  22   59  165 0.335 0.391 0.547 0.938
3     8    G  498  121   29    3   24  52  ...  20   54  177 0.355 0.404 0.570 0.974
2     44   F  538  133   30    4   18  68  ...  20   71  185 0.344 0.407 0.515 0.922
6     24   E  486  111   38    8   16  44  ...  12   49  173 0.356 0.406 0.566 0.972

[9 rows x 17 columns]

## 5.3 本塁打、打率の降順で出力してください。

          名前   打数   単打  二塁打  三塁打  本塁打  四球  ...  犠飛  四死球   安打    打率   出塁率   長打率   OPS
チームID 背番号                                  ...
5     31   D  512   75   24    5   42  58  ...  36   62  146 0.285 0.341 0.598 0.939
3     6    B  532   99   34    2   34  52  ...  20   54  169 0.318 0.368 0.581 0.949
1     44   B  552  105   28    4   34  48  ...  26   53  171 0.310 0.355 0.560 0.915
2     10   A  556  115   32    5   30  60  ...  28   63  182 0.327 0.379 0.565 0.943
4     8    C  499   95   30    3   30  58  ...  18   59  158 0.317 0.377 0.569 0.946
3     8    G  498  121   29    3   24  52  ...  20   54  177 0.355 0.404 0.570 0.974
1     31   E  492  113   24    4   24  56  ...  22   59  165 0.335 0.391 0.547 0.938
2     44   F  538  133   30    4   18  68  ...  20   71  185 0.344 0.407 0.515 0.922
6     24   E  486  111   38    8   16  44  ...  12   49  173 0.356 0.406 0.566 0.972

[9 rows x 17 columns]

## 5.4 打数が500以上の行を出力してください。

          名前   打数   単打  二塁打  三塁打  本塁打  四球  ...  犠飛  四死球   安打    打率   出塁率   長打率   OPS
チームID 背番号                                  ...
1     44   B  552  105   28    4   34  48  ...  26   53  171 0.310 0.355 0.560 0.915
2     10   A  556  115   32    5   30  60  ...  28   63  182 0.327 0.379 0.565 0.943
      44   F  538  133   30    4   18  68  ...  20   71  185 0.344 0.407 0.515 0.922
3     6    B  532   99   34    2   34  52  ...  20   54  169 0.318 0.368 0.581 0.949
5     31   D  512   75   24    5   42  58  ...  36   62  146 0.285 0.341 0.598 0.939

[5 rows x 17 columns]

## 5.5 打数が500以上の行について、OPSの降順で出力してください。

          名前   打数   単打  二塁打  三塁打  本塁打  四球  ...  犠飛  四死球   安打    打率   出塁率   長打率   OPS
チームID 背番号                                  ...
3     6    B  532   99   34    2   34  52  ...  20   54  169 0.318 0.368 0.581 0.949
2     10   A  556  115   32    5   30  60  ...  28   63  182 0.327 0.379 0.565 0.943
5     31   D  512   75   24    5   42  58  ...  36   62  146 0.285 0.341 0.598 0.939
2     44   F  538  133   30    4   18  68  ...  20   71  185 0.344 0.407 0.515 0.922
1     44   B  552  105   28    4   34  48  ...  26   53  171 0.310 0.355 0.560 0.915

[5 rows x 17 columns]

## 5.6 打数が500以上の行について、打率、本塁打、OPSを出力してください。OPSの降順でソートするものとします。

             打率  本塁打   OPS
チームID 背番号
3     6   0.318   34 0.949
2     10  0.327   30 0.943
5     31  0.285   42 0.939
2     44  0.344   18 0.922
1     44  0.310   34 0.915

# pandas - part6 - DataFrameのグループ化 - Training

---

In [30]:
import pandas as pd
import japanize_matplotlib

pd.options.display.precision = 3
pd.options.display.float_format = '{:.3f}'.format

rank = pd.read_csv("rank.csv", index_col=["チームID", "背番号"])
rank

          名前   打数   単打  二塁打  三塁打  本塁打  四球  ...  犠飛  四死球   安打    打率   出塁率   長打率   OPS
チームID 背番号                                  ...
1     31   E  492  113   24    4   24  56  ...  22   59  165 0.335 0.391 0.547 0.938
      44   B  552  105   28    4   34  48  ...  26   53  171 0.310 0.355 0.560 0.915
2     10   A  556  115   32    5   30  60  ...  28   63  182 0.327 0.379 0.565 0.943
      44   F  538  133   30    4   18  68  ...  20   71  185 0.344 0.407 0.515 0.922
3     6    B  532   99   34    2   34  52  ...  20   54  169 0.318 0.368 0.581 0.949
      8    G  498  121   29    3   24  52  ...  20   54  177 0.355 0.404 0.570 0.974
4     8    C  499   95   30    3   30  58  ...  18   59  158 0.317 0.377 0.569 0.946
5     31   D  512   75   24    5   42  58  ...  36   62  146 0.285 0.341 0.598 0.939
6     24   E  486  111   38    8   16  44  ...  12   49  173 0.356 0.406 0.566 0.972

[9 rows x 17 columns]

## 6.1 チームIDでグループ化して名前の数（件数）を出力してください。

       名前
チームID
1       2
2       2
3       2
4       1
5       1
6       1

## 6.2 チームIDでグループ化して本塁打の最大数を出力してください。本塁打の降順でソートするものとします。

       本塁打
チームID
5       42
1       34
3       34
2       30
4       30
6       16

## 6.3 打数を500以上、500未満に分けて打数グループ列を追加します。打数グループ列でグループ化して、打率の最大値を出力してください。

          打率
打数グループ
500以上  0.344
500未満  0.356

# pandas - part7 - DataFrameの結合 - Training

---

In [34]:
import pandas as pd
import japanize_matplotlib

pd.options.display.precision = 3
pd.options.display.float_format = '{:.3f}'.format

rank = pd.read_csv("rank.csv", index_col=["チームID", "背番号"])
rank

          名前   打数   単打  二塁打  三塁打  本塁打  四球  ...  犠飛  四死球   安打    打率   出塁率   長打率   OPS
チームID 背番号                                  ...
1     31   E  492  113   24    4   24  56  ...  22   59  165 0.335 0.391 0.547 0.938
      44   B  552  105   28    4   34  48  ...  26   53  171 0.310 0.355 0.560 0.915
2     10   A  556  115   32    5   30  60  ...  28   63  182 0.327 0.379 0.565 0.943
      44   F  538  133   30    4   18  68  ...  20   71  185 0.344 0.407 0.515 0.922
3     6    B  532   99   34    2   34  52  ...  20   54  169 0.318 0.368 0.581 0.949
      8    G  498  121   29    3   24  52  ...  20   54  177 0.355 0.404 0.570 0.974
4     8    C  499   95   30    3   30  58  ...  18   59  158 0.317 0.377 0.569 0.946
5     31   D  512   75   24    5   42  58  ...  36   62  146 0.285 0.341 0.598 0.939
6     24   E  486  111   38    8   16  44  ...  12   49  173 0.356 0.406 0.566 0.972

[9 rows x 17 columns]

## team.csvのダウンロード

In [ ]:
!wget https://gist.githubusercontent.com/murayama333/537b2cd02290d542905e2dd6f035694d/raw/a62d467780db34ed976f04797f25a83c50a3ef22/team.csv

In [36]:
team = pd.read_csv("team.csv", index_col="ID")
team

      チーム名        本拠地  リーグID
ID
1   TEAM A      Tokyo      1
2   TEAM B      Osaka      1
3   TEAM C  Hiroshima      1
4   TEAM D    Fukuoka      2
5   TEAM E   Hokkaido      2
6   TEAM F      Chiba      2

## 7.1 rank と team を左外部結合して結果を出力してください。

          名前   打数   単打  二塁打  三塁打  ...   長打率   OPS    チーム名        本拠地  リーグID
チームID 背番号                         ...
1     31   E  492  113   24    4  ... 0.547 0.938  TEAM A      Tokyo      1
      44   B  552  105   28    4  ... 0.560 0.915  TEAM A      Tokyo      1
2     10   A  556  115   32    5  ... 0.565 0.943  TEAM B      Osaka      1
      44   F  538  133   30    4  ... 0.515 0.922  TEAM B      Osaka      1
3     6    B  532   99   34    2  ... 0.581 0.949  TEAM C  Hiroshima      1
      8    G  498  121   29    3  ... 0.570 0.974  TEAM C  Hiroshima      1
4     8    C  499   95   30    3  ... 0.569 0.946  TEAM D    Fukuoka      2
5     31   D  512   75   24    5  ... 0.598 0.939  TEAM E   Hokkaido      2
6     24   E  486  111   38    8  ... 0.566 0.972  TEAM F      Chiba      2

[9 rows x 20 columns]

## 7.2 rank と team を左外部結合して、名前、チーム名、本拠地、打率、本塁打、OPSを出力してください。OPSの降順でソートするものとします。

          名前    チーム名        本拠地    打率  本塁打   OPS
チームID 背番号
3     8    G  TEAM C  Hiroshima 0.355   24 0.974
6     24   E  TEAM F      Chiba 0.356   16 0.972
3     6    B  TEAM C  Hiroshima 0.318   34 0.949
4     8    C  TEAM D    Fukuoka 0.317   30 0.946
2     10   A  TEAM B      Osaka 0.327   30 0.943
5     31   D  TEAM E   Hokkaido 0.285   42 0.939
1     31   E  TEAM A      Tokyo 0.335   24 0.938
2     44   F  TEAM B      Osaka 0.344   18 0.922
1     44   B  TEAM A      Tokyo 0.310   34 0.915

## league.csvのダウンロード

In [ ]:
!wget https://gist.githubusercontent.com/murayama333/18e91bcccdf7962d5fa28b1bc723a427/raw/da3da50d5db12f85765d35bcc762647818700f2d/league.csv

In [40]:
league = pd.read_csv("league.csv", index_col="ID")
league

        リーグ名
ID
1   LEAGUE A
2   LEAGUE B

## 7.3 rank、team、leagueをそれぞれ左外部結合して、結果を出力してください。

          名前   打数   単打  二塁打  三塁打  ...   OPS    チーム名        本拠地  リーグID      リーグ名
チームID 背番号                         ...
1     31   E  492  113   24    4  ... 0.938  TEAM A      Tokyo      1  LEAGUE A
      44   B  552  105   28    4  ... 0.915  TEAM A      Tokyo      1  LEAGUE A
2     10   A  556  115   32    5  ... 0.943  TEAM B      Osaka      1  LEAGUE A
      44   F  538  133   30    4  ... 0.922  TEAM B      Osaka      1  LEAGUE A
3     6    B  532   99   34    2  ... 0.949  TEAM C  Hiroshima      1  LEAGUE A
      8    G  498  121   29    3  ... 0.974  TEAM C  Hiroshima      1  LEAGUE A
4     8    C  499   95   30    3  ... 0.946  TEAM D    Fukuoka      2  LEAGUE B
5     31   D  512   75   24    5  ... 0.939  TEAM E   Hokkaido      2  LEAGUE B
6     24   E  486  111   38    8  ... 0.972  TEAM F      Chiba      2  LEAGUE B

[9 rows x 21 columns]

## 7.4 rank、team、leagueをそれぞれ左外部結合し、リーグ名が"LEAGUE A"の行について、リーグ名、チーム名、名前、OPSを出力してください。OPSの降順でソートするものとします。

               リーグ名    チーム名 名前   OPS
チームID 背番号
3     8    LEAGUE A  TEAM C  G 0.974
      6    LEAGUE A  TEAM C  B 0.949
2     10   LEAGUE A  TEAM B  A 0.943
1     31   LEAGUE A  TEAM A  E 0.938
2     44   LEAGUE A  TEAM B  F 0.922
1     44   LEAGUE A  TEAM A  B 0.915

## 7.5 rank、team、leagueをそれぞれ左外部結合し、リーグ名でグループ化して打率と本塁打の最大値を出力してください。

            打率  本塁打
リーグ名
LEAGUE A 0.355   34
LEAGUE B 0.356   42

# pandas - part8 - 欠損値の補完 - Training

---

## rank_na.csvのダウンロード

In [ ]:
!wget https://gist.githubusercontent.com/murayama333/1f04e8cfedf4327e5649dc770d8d9e82/raw/3de390adfefe0b6731a4a69fba75bca574ad94ef/rank_na.csv

In [45]:
import pandas as pd
import japanize_matplotlib

pd.options.display.precision = 3
pd.options.display.float_format = '{:.3f}'.format

rank = pd.read_csv("rank_na.csv", index_col=["チームID", "背番号"])
rank

          名前      打数   単打  二塁打   三塁打  本塁打  四球  死球  三振  犠打  犠飛
チームID 背番号
1     31   E 492.000  113   24 4.000   24  56   3  54   0  22
      44   B 552.000  105   28 4.000   34  48   5  92   0  26
2     10   A     nan  115   32 5.000   30  60   3  80   1  28
      44   F 538.000  133   30 4.000   18  68   3  75   2  20
3     6    B 532.000   99   34 2.000   34  52   2  72   1  20
      8    G 498.000  121   29   nan   24  52   2  41   1  20
4     8    C     nan   95   30   nan   30  58   1  53   0  18
5     31   D 512.000   75   24 5.000   42  58   4  90   0  36
6     24   E 486.000  111   38 8.000   16  44   5  48   4  12

> 打数、三塁打にそれぞれ欠損値が存在することを確認します。

## 8.1 欠損値を含む行を削除して結果を出力してください。

          名前      打数   単打  二塁打   三塁打  本塁打  四球  死球  三振  犠打  犠飛
チームID 背番号
1     31   E 492.000  113   24 4.000   24  56   3  54   0  22
      44   B 552.000  105   28 4.000   34  48   5  92   0  26
2     44   F 538.000  133   30 4.000   18  68   3  75   2  20
3     6    B 532.000   99   34 2.000   34  52   2  72   1  20
5     31   D 512.000   75   24 5.000   42  58   4  90   0  36
6     24   E 486.000  111   38 8.000   16  44   5  48   4  12

## 8.2 欠損値を含む行だけを出力してください。

          名前      打数   単打  二塁打   三塁打  本塁打  四球  死球  三振  犠打  犠飛
チームID 背番号
2     10   A     nan  115   32 5.000   30  60   3  80   1  28
3     8    G 498.000  121   29   nan   24  52   2  41   1  20
4     8    C     nan   95   30   nan   30  58   1  53   0  18

## 8.3 欠損値を１つ前の行から補完して結果を出力してください。

          名前      打数   単打  二塁打   三塁打  本塁打  四球  死球  三振  犠打  犠飛
チームID 背番号
1     31   E 492.000  113   24 4.000   24  56   3  54   0  22
      44   B 552.000  105   28 4.000   34  48   5  92   0  26
2     10   A 552.000  115   32 5.000   30  60   3  80   1  28
      44   F 538.000  133   30 4.000   18  68   3  75   2  20
3     6    B 532.000   99   34 2.000   34  52   2  72   1  20
      8    G 498.000  121   29 2.000   24  52   2  41   1  20
4     8    C 498.000   95   30 2.000   30  58   1  53   0  18
5     31   D 512.000   75   24 5.000   42  58   4  90   0  36
6     24   E 486.000  111   38 8.000   16  44   5  48   4  12

## 8.4 欠損値を最小値で補完して結果を出力してください。

          名前      打数   単打  二塁打   三塁打  本塁打  四球  死球  三振  犠打  犠飛
チームID 背番号
1     31   E 492.000  113   24 4.000   24  56   3  54   0  22
      44   B 552.000  105   28 4.000   34  48   5  92   0  26
2     10   A 486.000  115   32 5.000   30  60   3  80   1  28
      44   F 538.000  133   30 4.000   18  68   3  75   2  20
3     6    B 532.000   99   34 2.000   34  52   2  72   1  20
      8    G 498.000  121   29 2.000   24  52   2  41   1  20
4     8    C 486.000   95   30 2.000   30  58   1  53   0  18
5     31   D 512.000   75   24 5.000   42  58   4  90   0  36
6     24   E 486.000  111   38 8.000   16  44   5  48   4  12